<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.likes.common.mybatis.mapper.PaymentChannelMapper">
  <resultMap id="BaseResultMap" type="com.likes.common.mybatis.entity.PaymentChannel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pay_chan_code" jdbcType="VARCHAR" property="payChanCode" />
    <result column="pay_chan_name" jdbcType="VARCHAR" property="payChanName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from payment_channel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyProperty="id" parameterType="com.likes.common.mybatis.entity.PaymentChannel" useGeneratedKeys="true">
    insert into payment_channel (pay_chan_code, pay_chan_name, create_time,
                              update_time
    )
    values (#{payChanCode,jdbcType=VARCHAR}, #{payChanName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
            #{updateTime,jdbcType=TIMESTAMP}
           )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.likes.common.mybatis.entity.PaymentChannel">
    update payment_channel
    set pay_chan_code = #{payChanCode,jdbcType=VARCHAR},
        pay_chan_name = #{payChanName,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>