<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.likes.common.mybatis.mapper.FinancesManagerProductOrderMapper">
    <select id="findList" resultType="com.likes.common.model.vo.finance.FinancesManagerProductOrderVo">
        select t.id,t.create_time as createTime,t.update_time as updateTime,
               t.start_time as startTime,t.end_time as endTime,t.buy_amount as buyAmount,
               t.everyday_amount as everydayAmount,t.sum_amount as sumAmount,
               t.create_by as createBy,t.update_by as updateBy,t.finances_product_id as financesProductId,
               t.user_acct as userAcct,t.user_id as userId,t.finances_product_status as financesProductStatus,
               t.level_config_level as levelConfigLevel,IFNULL(datediff(Now(),t.start_time),0)*IFNULL(t.everyday_amount,0) as thedayAmount,
               d.income_rate as incomeRate,d.valid_date as validDate,
               d.product_name_cn as productNameCn,d.product_name_en as productNameEn,d.product_name_vn as productNameVn,d.remark
        from finances_manager_product_order t
        LEFT JOIN finances_manager_product d ON t.finances_product_id=d.id
        <where>
            1=1
            <if test="p.userAcct != null and  p.userAcct != ''">
                and t.user_acct LIKE concat('%',#{p.userAcct},'%')
            </if>
            <if test="p.userId != null and  p.userId != ''  and p.userId != 0">
                and t.user_id = #{p.userId}
            </if>
            <if test="p.financesProductId != null and  p.financesProductId != ''  and p.financesProductId != 0">
                and t.finances_product_id = #{p.financesProductId}
            </if>
            <if test="p.financesProductStatus != null and  p.financesProductStatus != ''">
                and t.finances_product_status = #{p.financesProductStatus}
            </if>
            <if test="p.startStartTime!=null and  p.startStartTime != ''">
                and DATE_FORMAT(t.start_time,'%Y-%m-%d') <![CDATA[ >= ]]>DATE_FORMAT(#{p.startStartTime},'%Y-%m-%d')
            </if>
            <if test="p.startEndTime!=null and  p.startEndTime != ''">
                and DATE_FORMAT(t.start_time,'%Y-%m-%d') <![CDATA[ <= ]]>DATE_FORMAT(#{p.startEndTime},'%Y-%m-%d')
            </if>
            <if test="p.endStartTime!=null and  p.endStartTime != ''">
                and DATE_FORMAT(t.end_time,'%Y-%m-%d') <![CDATA[ >= ]]>DATE_FORMAT(#{p.endStartTime},'%Y-%m-%d')
            </if>
            <if test="p.endEndTime!=null and  p.endEndTime != ''">
                and DATE_FORMAT(t.end_time,'%Y-%m-%d') <![CDATA[ <= ]]>DATE_FORMAT(#{p.endEndTime},'%Y-%m-%d')
            </if>
            ORDER BY t.create_time DESC
        </where>
    </select>
    <select id="countOrder" resultType="Integer">
        select COUNT(1) from finances_manager_product_order t
        <where>
            1=1
            <if test="p.userId != null and  p.userId != ''  and p.userId != 0">
                and t.user_id = #{p.userId}
            </if>
            <if test="p.financesProductId != null and  p.financesProductId != ''  and p.financesProductId != 0">
                and t.finances_product_id = #{p.financesProductId}
            </if>
            <if test="p.levelConfigLevel != null and  p.levelConfigLevel != ''">
                and t.level_config_level = #{p.levelConfigLevel}
            </if>
        </where>
    </select>
</mapper>