<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.likes.common.mybatis.mapper.FinancesManagerProductSettingMapper">
    <select id="findList" resultType="com.likes.common.mybatis.entity.FinancesManagerProductSetting">
        select t.id,t.create_time as createTime,t.update_time as updateTime,
        t.create_by as createBy,t.update_by as updateBy,t.min_amout as minAmout,
        t.level_config_id as levelConfigId,t.level_config_level as levelConfigLevel,t.level_config_req as levelConfigReq,
        t.buy_number as buyNumber,t.finances_product_id as financesProductId
        from finances_manager_product_setting t
        <where>
            1=1
            <if test="p.financesProductId != null and  p.financesProductId != '' and p.financesProductId != 0">
                and t.finances_product_id = #{p.financesProductId}
            </if>
            <if test="p.levelConfigId != null and  p.levelConfigId != '' and p.levelConfigId != 0">
                and t.level_config_id = #{p.levelConfigId}
            </if>
            <if test="p.levelConfigLevel != null and  p.levelConfigLevel != ''">
                and t.level_config_level = #{p.levelConfigLevel}
            </if>
            ORDER BY t.create_time ASC
        </where>
    </select>
</mapper>